In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("/Users/danielsoriano/Downloads/ds/extra data for projects/housing.csv", sep = ",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df['avg_people_living_home'] = df["population"] / df['households']
df['bedrooms_per_home'] = df['total_bedrooms'] / df['households']
df1 = df[['housing_median_age', 'households', 'median_income', 'median_house_value', 'ocean_proximity', 'avg_people_living_home', 'bedrooms_per_home']].copy()
df1

,housing_median_age,households,median_income,median_house_value,ocean_proximity,avg_people_living_home,bedrooms_per_home
0,41.0,126.0,8.3252,452600.0,NEAR BAY,2.555556,1.023810
1,21.0,1138.0,8.3014,358500.0,NEAR BAY,2.109842,0.971880
2,52.0,177.0,7.2574,352100.0,NEAR BAY,2.802260,1.073446
3,52.0,219.0,5.6431,341300.0,NEAR BAY,2.547945,1.073059
4,52.0,259.0,3.8462,342200.0,NEAR BAY,2.181467,1.081081
...,...,...,...,...,...,...,...
20635,25.0,330.0,1.5603,78100.0,INLAND,2.560606,1.133333
20636,18.0,114.0,2.5568,77100.0,INLAND,3.122807,1.315789
20637,17.0,433.0,1.7000,92300.0,INLAND,2.325635,1.120092
20638,18.0,349.0,1.8672,84700.0,INLAND,2.123209,1.171920
20639,16.0,530.0,2.3886,89400.0,INLAND,2.616981,1.162264

In [18]:
dfs = {}  
           
for category in df1['ocean_proximity'].unique():
    filtered_df = df1[df1['ocean_proximity'] == category]
    dfs[category] = filtered_df

NEAR_BAY = dfs['NEAR BAY']
NEAR_OCEAN = dfs['NEAR OCEAN']
OCEAN_1H = dfs['<1H OCEAN']
INLAND = dfs['INLAND']
ISLAND = dfs['ISLAND']

OCEAN_1H

,housing_median_age,households,median_income,median_house_value,ocean_proximity,avg_people_living_home,bedrooms_per_home
701,32.0,171.0,6.0574,431000.0,<1H OCEAN,2.836257,1.134503
830,9.0,703.0,4.6458,217000.0,<1H OCEAN,3.330014,1.011380
859,21.0,789.0,4.6146,247600.0,<1H OCEAN,2.752852,0.992395
860,15.0,559.0,5.7192,283500.0,<1H OCEAN,3.178891,1.067979
861,20.0,975.0,3.6832,216900.0,<1H OCEAN,2.132308,1.057436
...,...,...,...,...,...,...,...
20502,45.0,27.0,2.9821,325000.0,<1H OCEAN,2.481481,0.925926
20503,27.0,77.0,8.2787,330000.0,<1H OCEAN,3.155844,1.103896
20504,11.0,752.0,7.3550,343900.0,<1H OCEAN,3.359043,0.978723
20505,22.0,494.0,6.0368,248000.0,<1H OCEAN,3.228745,1.070850
20506,8.0,725.0,6.9454,276500.0,<1H OCEAN,3.462069,1.040000

In [6]:
X = df1[['median_income', 'housing_median_age', 'bedrooms_per_home']]
y = df1['median_house_value']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
def preprocess_and_split_data(df, target_column, feature_columns, window_size, std_threshold=3, test_size=0.2, random_state=42):
    rolling_std = df[feature_columns].rolling(window=window_size).std()

    outliers = (df[feature_columns] - rolling_std > std_threshold * rolling_std)

    df_cleaned = df[~outliers.any(axis=1)]

    X = df_cleaned[feature_columns]
    y = df_cleaned[target_column]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    return X_train, X_test, y_train, y_test

target_column = 'median_house_value'
feature_columns = ['median_income', 'housing_median_age', 'bedrooms_per_home']
window_size = 3  
std_threshold = 3  

X_train, X_test, y_train, y_test = preprocess_and_split_data(df1, target_column, feature_columns, window_size, std_threshold)